.nav {
  grid-area: n;
  background-color: #ecf0f1;
}

.item {
  color: #34495e;
  font-weight: 600;
  padding: 5px 15px;
  display: block;
}

.item:hover {
  background-color: #fff;
  transition: 0.2s;
}

.item .activeLink {
  color: #16a085;
}

a {
  text-decoration: none;
}

a:hover {
  color: #16a085;
}

a:visited{
  color: #34495e;
}
