.nav {
  grid-area: n;
  background-color: #ecf0f1;
  padding: 15px 0;
}

.item {
  color: #34495e;
  font-weight: 600;
  padding: 5px 15px;
  display: block;
}

.item:hover {
  background-color: #fff;
  transition: 0.2s;
}

nav .activeLink {
  color: #16a085!important;
}

a {
  text-decoration: none;
}


a:visited{
  color: #34495e;
}
